page-magazalar {
    .sebm-google-map-container {
      height: 100%;
    }
    .ana-baslik{
      background-color: #B2BABB;
    }
   .hesabım-title{
    margin-left: -22%;
    margin-top: 1%;
    font-size: x-large;
    color: #707B7C;
  }
  .icon{
    color: #7F8C8D;
  }
    .background-image {
      background: url('../assets/img/hesabım.jpg') no-repeat ;
      background-size: cover;
      height: 100%;
    }
    .filter{
      color: #7F8C8D;
      margin-left: 75%;
    }
    .list{
      color: #7F8C8D;
      margin-left: 95%;

    }
  }
  