page-magazalar {
  .sebm-google-map-container {
    height: 100%;
  }
  .ana-baslik{
    background-color: #B2BABB;
  }
  .hesabım-title{
    margin-left: -65%;
    color: #707B7C;
    margin-bottom: -15%;
}

.icon{
  color: #7F8C8D;
}
  .background-image {
    background: url('../assets/img/hesabım.jpg') no-repeat ;
    background-size: cover;
    height: 100%;
  }
  .filter{
    color: black;
    margin-left: 78%;
    margin-top: 10%;
  }
  .list{
    color: black;
    margin-left: 90%;
   margin-top: -5%;
  }
  .search{
    margin-top:-5%;
 background-color: inherit;
 z-index: 10px;
}
}
