page-girisyap {
  .item {
    width: 99%;
    height: 70%;
    display: block;
    margin-top:10%;
    border-radius: 2px;
    background-color: white;
    text-decoration-line: underline;
  }
  .item.item-block .item-inner {
    border-bottom: 0px;
  }
  .item-input .label {
    color: $white;
  }
.form-kontrol{
  margin-top:-9.1%;
}

  .giris {
    background: url("../assets/img/girisyapbg.jpg") no-repeat;
    background-size: cover;
    color: $white;
  }
  .vazgecbuton{
    width: 100% !important;
    height: 65px;
    background-color: darkgray;
    color:gray;
  }
  .girisyapbuton{
    width: 100% !important;
    height: 65px;
    background-color: burlywood;
    color: white;
  }
}
