page-urunler-menu {
  .ana-baslik{
    background-color: #CCD1D1;
  }
  
  .icon{
    color: #515A5A;
    font-size: medium;
  }
  .baslik{
    color: #CCD1D1;
    background-color: #515A5A;
    font-size: medium;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: -1%;
    margin-bottom: 0%;
    height: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
  
  }
  .liste{
    height: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: -10%;
    color: white;
    background-color: black;
  }
    h2 {
      margin-top: 1rem;
    }
  
      /*Categories*/
  .secenekler{
    background-color: black;
  }
  
    
    }
  
  