page-parolamiunuttum {
  .item {
    width: 99%;
    height: 70%;
    display: block;
    margin-top:10%;
    border-radius: 2px;
    background-color: white;
    text-decoration-line: underline;
  }
  .navbar{
    background-color: white;
  }
  .title{
   
    color:black;
  }
  .baslik{
    color:gray;
  }
  
  .item.item-block .item-inner {
    border-bottom: 0px;
  }
  .item-input .label {
    color: $white;
  }


  .giris {
    background: url("../assets/img/girisyapbg.jpg") no-repeat;
    background-size: cover;
    color: $white;
  }
  .vazgecbuton{
    width: 50%;
    height: 65px;
    background-color: darkgray;
    color:gray;
  }
  .girisyapbuton{
    width: 50%;
    height: 65px;
    background-color: burlywood;
    color: white;
    display: block;
    margin-left: 50%;
    margin-top: -18.5%;

  }
}
