<ion-header >
    <ion-navbar class="baslik">
        <ion-icon (click)="geri()" class="icon" name="arrow-back-sharp" item-left></ion-icon>
        <ion-title  class="anabaslik"  *ngIf="!isLoggedin()" >{{'PROFİL AYARLARI' | translate }}</ion-title>
        <ion-title class="anabaslik" *ngIf="isLoggedin()" >{{'HESAP & AYARLAR' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="!isLoggedin()" class="giris">
    <button class="vazgecbuton" (click)="uyeol()"  ion-button>{{"ÜYE OL" | translate}}
    </button>
    <button class="girisyapbuton" type="submit" (click)="girisyap()" ion-button>{{"GİRİŞ YAP" | translate}}
    </button>
    <p class="aktivasyon-text">{{ "BİLDİRİMLER" | translate}}</p>

            <ion-row>
                    <ion-item>
                        <ion-label>{{"Mesajlar" | translate}}</ion-label>
                        <ion-toggle color="secondary"></ion-toggle>
                    </ion-item>

                    <ion-item class="destekbosluk"  (click)="telefon()" >
                        <ion-label>{{"Destek & İletişim" | translate}}</ion-label>
                        <ion-icon class="icon" name="call" item-right></ion-icon>
                        
                    </ion-item>
                    <ion-item (click)="yardim()" >
                        <ion-label>{{"Yardım" | translate}}</ion-label>
                        <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
                    </ion-item>

                        <ion-item >
                            <ion-label>{{"Dil Değiştir / Change Language:" |translate }}</ion-label>
                            <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
                            <ion-select [(ngModel)]="value" (ionChange)="changeLanguage()">
                                <ion-option *ngFor="let option of options" value="{{option.value}}"> {{option.language }}
                                </ion-option>
                            </ion-select>
                        </ion-item>


                    <ion-item class="destekbosluk" (click)="kullanimkosullari()" >
                        <ion-label>{{"Kullanım Koşulları" | translate}}</ion-label>
                        <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
                        
                    </ion-item>
                    <ion-item (click)="kva()" >
                        <ion-label>{{"Kişisel Veri Aydınlatma Metni" | translate}}</ion-label>
                        <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
                    </ion-item>
                    <p class="aktivasyon-text">{{ "Versiyon 1.3.3" | translate}}</p>

                    
                    
                
            </ion-row>

 




</ion-content>



<ion-content *ngIf="isLoggedin()" class="bg" no-scroll padding>
    <div class="login">
        <ion-row>
            <img class="img" [src]="url">
            <br>
        </ion-row>
        <ion-row>
            <input type="file" name="file" id="file" class="inputfile" (change)="readUrl($event)">
            <label for="file" class="upload">
                <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
            </label>
        </ion-row>
        
        <p class="name">{{user.name}}</p>
    


        <ion-item  class="destekbosluk" (click)="bilgiguncelle()" >
            <ion-label>{{"Kişisel Bilgilerimi Düzenle" | translate}}</ion-label>
            <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
        </ion-item>

        <ion-item  class="destekbosluk" (click)="kredikartlarim()" >
            <ion-label>{{"Kredi Kartlarım" | translate}}</ion-label>
            <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
        </ion-item>
        <ion-item   (click)="favori()" >
            <ion-label>{{"Favori Ürünlerim" | translate}}</ion-label>
            <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
        </ion-item>
        <ion-item  (click)="bilgiguncelle()" >
            <ion-label>{{"Parolayı Değiştir" | translate}}</ion-label>
            <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
        </ion-item>


        <ion-item class="destekbosluk">
            <ion-label>{{"Mesajlar" | translate}}</ion-label>
            <ion-toggle color="secondary"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>{{"E-postta" | translate}}</ion-label>
            <ion-toggle color="secondary"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>{{"SMS" | translate}}</ion-label>
            <ion-toggle color="secondary"></ion-toggle>
        </ion-item>

        <ion-item class="destekbosluk">
            <ion-label>{{"Telefonu Salla ve Öde" | translate}}</ion-label>
            <ion-toggle color="secondary"></ion-toggle>
        </ion-item>

        <ion-item class="destekbosluk" (click)="girisyap()" >
            <ion-label>{{"Destek & İletişim" | translate}}</ion-label>
            <ion-icon class="icon" name="call" item-right></ion-icon>
            
        </ion-item>
        <ion-item (click)="yardim()" >
            <ion-label>{{"Yardım" | translate}}</ion-label>
            <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
        </ion-item>

            <ion-item >
                <ion-label>{{"Dil Değiştir / Change Language:" |translate }}</ion-label>
                <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
                <ion-select [(ngModel)]="value" (ionChange)="changeLanguage()">
                    <ion-option *ngFor="let option of options" value="{{option.value}}"> {{option.language }}
                    </ion-option>
                </ion-select>
            </ion-item>


        <ion-item class="destekbosluk" (click)="kullanimkosullari()" >
            <ion-label>{{"Kullanım Koşulları" | translate}}</ion-label>
            <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
            
        </ion-item>
        <ion-item (click)="kva()" >
            <ion-label>{{"Kişisel Veri Aydınlatma Metni" | translate}}</ion-label>
            <ion-icon class="icon" name="chevron-forward" item-right></ion-icon>
        </ion-item>
        <p class="aktivasyon-text">{{ "Versiyon 1.3.3" | translate}}</p>

        <button class="btn" (click)="cikis()">
            {{'ÇIKIŞ YAP'| translate}}
          </button>
        
    



        </div>


    

   
  </ion-content>
    